<aside
  class="left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-[#1c2434] duration-300 ease-linear static translate-x-0"
>
  <!-- SIDEBAR HEADER -->
  <div class="px-6 py-6.5">
    <h1
      class="text-white font-semibold text-2xl block h-16 flex items-center justify-center"
    >
      FSTYLE
    </h1>
  </div>
  <!-- SIDEBAR HEADER -->

  <div
    class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
  >
    <nav class="py-4 px-6">
      <ul class="flex flex-col gap-1.5">
        <li>
          <a
            href="/"
            class="group cursor-pointer relative flex items-center gap-2.5 rounded-sm px-4 py-3 font-medium text-white duration-300 ease-in-out hover:bg-[#333a48]"
          >
            <div class="min-w-6">
              <i class="fa-solid fa-chart-pie"></i>
            </div>

            Dashboard
          </a>
        </li>

        <li>
          <a
            href="/products"
            class="group cursor-pointer relative flex items-center gap-2.5 rounded-sm px-4 py-3 font-medium text-white duration-300 ease-in-out hover:bg-[#333a48]"
          >
            <div class="min-w-6">
              <i class="fa-solid fa-list"></i>
            </div>

            Quản lý SP
          </a>
        </li>

        <li>
          <a
            class="group cursor-pointer relative flex items-center gap-2.5 rounded-sm px-4 py-3 font-medium text-white duration-300 ease-in-out hover:bg-[#333a48]"
            href="/categories"
          >
            <div class="min-w-6">
              <i class="fa-solid fa-list"></i>
            </div>

            Quản lý danh mục
          </a>
        </li>

        <li>
          <a
            class="group cursor-pointer relative flex items-center gap-2.5 rounded-sm px-4 py-3 font-medium text-white duration-300 ease-in-out hover:bg-[#333a48]"
            href="/notifications"
          >
            <div class="min-w-6">
              <i class="fa-solid fa-bell"></i>
            </div>

            Quản lý thông báo
          </a>
        </li>

        <li>
          <a
            class="group cursor-pointer relative flex items-center gap-2.5 rounded-sm px-4 py-3 font-medium text-white duration-300 ease-in-out hover:bg-[#333a48]"
            href="/orders"
          >
            <div class="min-w-6">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>

            Quản lý đơn hàng
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
